<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}
    {{ partial "hero.html" . }}

    {{ if .Site.Params.about.enable }}
      {{ partial "about.html" . }}
    {{ end }}

    {{ if .Site.Params.team.enable }}
      {{ partial "team.html" . }}
    {{ end }}

    {{ if .Site.Params.joinus.enable }}
      {{ partial "joinus.html" . }}
    {{ end }}

    {{ if .Site.Params.venue.enable }}
      {{ partial "venue.html" . }}
    {{ end }}

    {{ if .Site.Params.sponsors_list.enable }}
      {{ partial "sponsors.html" . }}
    {{ end }}

    {{ if .Site.Params.contact.enable }}
      {{ partial "contact.html" . }}
    {{ end }}

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}


    {{ partial "js.html" . }}
  </body>
</html>
